.square{
width:80px;
height:80px;
margin:30px auto;
background-color:#8BC34A;
animation-name : spin;
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: infinite;
animation-direction: reverse;
animation-timing-function: ease-in-out;
}
@keyframes spin {
0%{transform : rotate(0deg);
}
25%{background-color:red;}
100% {transform : rotate(360deg);
}